.main-container{
    height: 70px;
    width: 100vw;
    background-color:#181820;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
   

}
  
.logo-section{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}
.logo-text{
    color: white;
    text-decoration: none;
}
 
.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link{
    padding: 2rem 2.9rem;
    color: #f1f1f1;
    font-size: 1rem;
     text-decoration: none;
    transition: colr 0.3s;  
}

.nav-link.active{
    color: #57577a;
}
.nav-link:hover{
    color: #57577a;
}


.nav-buttons{
    display: flex;
    gap: 0.75rem;
}

.login-btn,
.signup-btn{
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 20px;
    background-color: #3e3e5e;
    color: white;
    font-size: 0.9rem;
     cursor: pointer;
  transition: background 0.3s;
}
.login-btn:hover,
.signup-btn:hover {
  background-color: #57577a;
}
