
.main-sidebar {
  width: 240px;
  background-color: #181820;
  color: white;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  
}
.logo {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Quiz-hub {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1rem;
  color: #cbd5e1;
  text-decoration: none;
  padding: 2rem;
  border-radius: 6px;
  transition: background 0.3s ease, color 0.3s ease;
  cursor: pointer;
  width:top 1rem;
}


.Quiz-hub.active,
.Quiz-hub:hover {
  background-color:  #394164;
  color: white;
}
.Quiz-hub:hover .icon {
  transform: scale(1.1);
}

.icon {
  font-size: 1.2rem;
}
