*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
@media (max-width: 768px) {
  /* Adjust layout for smaller screens */
}

.app-container{
 height: 100vh;
 width: 100vw;
 display: flex;
 
}
