.container{
  width: 100%;
  height: 100vh;
  background-color:#181820;
 
  
}

.pic-1{
  height: 300px;
  width: 800px;
  background-color: yellow;
  margin-left: 150px;
  margin-top: 40px;
  background-image: url('C:\Users\hp\Dropbox\PC\Documents\GitHub\Quiz-hub2.0\quiz-hub\public\Images\cover.jpg')
   ;
   background-size: cover;         
   background-repeat: no-repeat;   
   background-position: center; 
}
.paragraph22{
  font-size: 10px;
}
.paragraph33{
  font-size: 10px;
}
.paragraph11{
  font-size: 10px;
}





.para-1:hover {
  animation: blink 0.7s step-start 2; 
  text-decoration: underline;
}
.why-choose{
  color:whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.why-choose-2{
  color:whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}
.box-1{
  
  width: 300px;
  height: 150px;
  background-color:  #2A2B47;
  justify-content: center;
  color : white ;
  align-items: center;
  font-size: 15px;
  border-radius: 20px;
  

}
.box-2{
  
  width: 300px;
  height: 150px;
  background-color:  #2A2B47;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20px;
  

  

}
.box-3{
  
  width: 300px;
  height: 150px;
  background-color:  #2A2B47;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  padding-top: 20px;
  color: white;
}
.icon-2{
  margin-left: 60px;    
  font-size: 20px;
  color: white;
  margin-top:5px;
}
.icon-3{
  margin-left: 60px;    
  font-size: 20px;
  color: white;
  margin-top:5px;
}
 
.icon-4{
  margin-left: 60px;    
  font-size: 20px;
  color: white;
  margin-top:5px;
}


.box-1 p{
  padding-top: 10px;
  padding-left: 10px;
}
.box-1 h1{
  padding-left: 10px;
}
 
.box-2 p{
  padding-top: 20px;
  padding-left: 10px;
}
.box-2 h1{
  padding-left: 10px;
}
 
.box-3 p{
  padding-top: 10px;
  padding-left: 10px;
}
.box-3 h1{
  padding-left: 10px;
}
