.login-container{
    width: 100%;
    height:100vh;
     background-color:#17171C
}
 .login-div{
    color: white;
    justify-content: center;
    padding-left: 300px;
    gap:100px;
    padding-top: 80px;
 }
 .inputpro{
    padding-top: 60px;
    font-size: 25px;
 }
 .login-div h1{
    font-size: 50px;
 }
 .input-1{
    width: 300px;
    height: 40px;
    border-radius:  10px;
    padding: 10px;
    background-color: #322f33;
    color: white;
    font-size: 15px;
    outline: none;
 }
 .input22{
    padding-top: 30px;
 }
 .input-2{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    background-color: #322f33;
    font-size: 15px;
    color: white;
    outline: none;
 }
 .email{
    padding-bottom: 15px;
 }
 .password{
    padding-bottom: 15px;
 }
 .forget{
     display: flex;
     justify-content: center;
     padding-top: 20px;
     padding-right: 450px;
 }
  .btn-login{
    width: 170px;
    height: 35px;
    margin-left: 350px;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #3e3e5e;
    color: whitesmoke;
    font-size: 20px;
    outline: none;
    border: none;
  }
  .signup-p {
    color: white;
    margin-left: 550px;
  }