.container-signup{
    width: 100%;
    height:100vh;
     background-color:#17171c;
    color: whitesmoke;
   
    }
   .input-login1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    border-radius:  10px;
    color: white;
    font-size: 15px;
    outline: none;
    background-color: #322f33;
    margin-top: 15px;
    padding: 10px;
   }
   .input-login2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    border-radius:  10px;
    color: white;
    font-size: 15px;
    outline: none;
    background-color: #322f33;
    margin-top: 20px;
    padding: 10px;
   }
   .input-login3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    border-radius:  10px;
    color: white;
    font-size: 15px;
    outline: none;
    background-color: #322f33;
    margin-top: 20px;
    padding: 10px;   
}
   .inputall{
   
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    padding-top:40px ;
    
   }
   .login-h1{
    display: flex;
    align-items: center;
    padding-left: 300px;
    font-size: 50px;
    padding-top: 40px;
   }
   .login-username{
    padding-top: 15px;
   }
   .login-password{
    padding-top: 15px;
   }
   .login-email{
    padding-top: 15px;
   }
 .checktick{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 600px;
    padding-top: 30px;
    font-size: 20px;
    padding-left: 40px;
 }
 .checkbox1{
    height: 20px;
    width: 30px;
 }
 .btn-signup{
    width: 170px;
    height: 35px;
    border-radius: 15px;
    background-color: #3e3e5e;
    color: whitesmoke;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-left: 600px;
    outline: none;
    border: none;
 }
   
   